-#  This file is app/views/decks/index.html.haml


%h1 #{@group[:title]} Decks

%table#decks
  %thead
    %tr
      %th= link_to 'Title', decks_path(:sort => 'title', :random => @random)
      %th= link_to 'Score', decks_path(:sort => 'score', :random => @random)
      %th= link_to 'Category', decks_path(:sort => 'category', :random => @random)
      %th Public
      %th= link_to 'Created At', decks_path(:sort => 'created_at', :random => @random)
      %th= link_to 'Updated At', decks_path(:sort => 'updated_at', :random => @random)
      %th= link_to 'Deck ID', decks_path(:sort => 'id', :random => @random)
      %th Edit
      %th Delete
  %tbody
    - @group_decks.each do |deck|
      %tr
        %td= link_to deck.title, card_display_path(deck.id)
        %td= deck.score
        %td= deck.category
        %td= deck.public
        %td= deck.created_at
        %td= deck.updated_at
        %td= deck.id
        %td= link_to 'Edit', edit_deck_path(deck.id)
        %td= button_to 'Delete', remove_deck_from_group_path(@group.id, deck.id), :method => :post, :id => "delete_deck_from_group_#{deck.id}"
  
= link_to 'Add Existing Decks to Group', add_deck_to_group_path(@group.id)
%br
-if !@group.public && @group.owner_id == @current_user.id
  = link_to 'Add Existing Users to Group', add_user_to_group_path(@group.id)  
