%h1 Create New Group

= form_tag groups_path do


  = label :group, :title, 'Title'
  = text_field :group, 'title'
  = label :group, :public, 'Make Public?'
  = select :group, :public, ['Yes', 'No'], {}, :id => 'public_select'

  = submit_tag 'Save Changes'