%h1 User Page
%h1 My Favorites
%table#favorites
  %thead
    %tr
      %th= link_to 'Title', users_path(:sort => 'title', :random => @random)
      %th= link_to 'Score', users_path(:sort => 'score', :random => @random)
      %th= link_to 'Category', users_path(:sort => 'category', :random => @random)
      %th Public
      %th= link_to 'Created At', users_path(:sort => 'created_at', :random => @random)
      %th= link_to 'Updated At', users_path(:sort => 'updated_at', :random => @random)
  %tbody
    - @users_favorites.each do |deck|
      %tr
        %td= link_to deck.title, card_display_path(deck.id)
        %td= deck.score
        %td= deck.category
        %td= deck.public
        %td= deck.created_at
        %td= deck.updated_at
%h1 my decks
%table#decks
  %thead
    %tr
      %th= link_to 'Title', users_path(:sort => 'title', :random => @random)
      %th= link_to 'Score', users_path(:sort => 'score', :random => @random)
      %th= link_to 'Category', users_path(:sort => 'category', :random => @random)
      %th Public
      %th= link_to 'Created At', users_path(:sort => 'created_at', :random => @random)
      %th= link_to 'Updated At', users_path(:sort => 'updated_at', :random => @random)
      %th Edit
      %th Delete
  %tbody
    - @decks.each do |deck|
      %tr
        %td= link_to deck.title, card_display_path(deck.id)
        %td= deck.score
        %td= deck.category
        %td= deck.public
        %td= deck.created_at
        %td= deck.updated_at
        %td= link_to 'Edit', edit_deck_path(deck.id)
        %td= button_to 'Delete', deck_path(deck), :method => :delete, :id => 'btn_delete'
        
        
        %br
        
-#= will_paginate @decks        
= form_tag users_path, method: 'get' do
  = text_field_tag :search, params[:search], placeholder: "search"
  = submit_tag "Search", :name => nil
  
= link_to 'New Deck', new_deck_path
%br

%h1 Groups  
%table#groups
  %thead
    %tr
      %th Group Name
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.title , group_display_path(group.id)
%br
= link_to 'Create New Group', new_group_path

  
        