%h1 User Page
%h1 My Favorites
%table#favorites
  %thead
    %tr
      %th Title
      %th Score
      %th Category
      %th Public
      %th Created At
      %th Updated At
  %tbody
    - @users_favorites.each do |deck|
      %tr
        %td= link_to deck.title, card_display_path(deck.id)
        %td= deck.score
        %td= deck.category
        %td= deck.public
        %td= deck.created_at
        %td= deck.updated_at
%h1 my decks
%table#decks
  %thead
    %tr
      %th= link_to 'Title', users_path(:sort => 'title', :random => @random)
      %th Score
      %th= link_to 'Category', users_path(:sort => 'category', :random => @random)
      %th Public
      %th Created At
      %th Updated At
      %th Edit
      %th Delete
  %tbody
    - @decks.each do |deck|
      %tr
        %td= link_to deck.title, card_display_path(deck.id)
        %td= deck.score
        %td= deck.category
        %td= deck.public
        %td= deck.created_at
        %td= deck.updated_at
        %td= link_to 'Edit', edit_deck_path(deck.id)
        %td= button_to 'Delete', deck_path(deck), :method => :delete, :id => 'btn_delete'
  
= link_to 'New Deck', new_deck_path
%br

%h1 Groups  
%table#groups
  %thead
    %tr
      %th Group Name
  %tbody
    - @groups.each do |group|
      %tr
        %td= link_to group.title , group_display_path(group.id)
%br
= link_to 'Create New Group', new_group_path

  
        