%h1 Create New User

= form_tag users_path do

  = label :user, :email, 'Email'
  = text_field :user, :email, :id=> 'signup_user'

  = label :users, :password, 'Password'
  = password_field :user, :password,:id=> 'signup_email'
  

  = submit_tag 'Create account', :id=> 'signup_create'
