-# This file is app/views/cards/index.html.haml
= javascript_include_tag "practiceCards"
= javascript_include_tag "jquery.crossorigin"
= javascript_include_tag "https://code.responsivevoice.org/responsivevoice.js"
%h1 Cards
.Box
    %input{:type => "checkbox", :id =>"sideButton"} show back first
    %br/
    %button{ :id => "randomButton"} randomize practice order
    
.Box
    .floatingBox
        
        %button{ :id => "lastButton"} Last
    .floatingBox
        .flip
            .front
                .h1
                    .p{:id => "frontCard"}
                        click on card to flip  
                    .br
                        %button{:id => 'speakFront', :value => 'sayFront' } speak
            .back
                .h1
                    .p{:id => "backCard"}
                        use buttons or arrow keys to navigate
                    .br
                        %button{:id => 'speakBack', :value => 'sayBack' } speak
    .floatingBox
        %button{ :id => "nextButton"} Next
    
.Box{:id => "scores"}
    %h2 Score:
    %h2#currentscore
        0/0
    .floatingBox
        %h1 did you get it right?
    %div
    .floatingBox{ :id => "correctButton"}    
        = image_tag("yes.png")
    .floatingBox{ :id => "incorrectButton"}
        = image_tag("no.png")
    %div
        %button{ :id => "resetScore"} Start Again?
%table#cards
    %thead
        %tr
            %th Card ID
            %th Deck ID
            %th Front
            %th Back
            %th Edit
            %th Delete
    %tbody
        - @cards.each do |card|
            %tr
                %td= card.id
                %td= card.deck_id
                %td= card.front
                %td= card.back
                %td= link_to 'Edit', edit_card_path(card.id)
                %td= link_to 'Delete', card_path(card), :method => :delete
                
%br
= link_to 'Add Card To Deck', write_card_path
.definition-dialog
    .close-container
        %button Close
    .text-container
        %span
    