-#  This file is app/views/decks/index.html.haml


%h1 Decks

%table#decks
  %thead
    %tr
      %th Title
      %th Score
      %th Category
      %th Public
      %th Created At
      %th Updated At
      %th Deck ID
      %th Edit
      %th Delete
  %tbody
    - @decks.each do |deck|
      %tr
        %td= link_to deck.title, card_display_path(deck.id)
        %td= deck.score
        %td= deck.category
        %td= deck.public
        %td= deck.created_at
        %td= deck.updated_at
        %td= deck.id
        %td= link_to 'Edit', edit_deck_path(deck.id)
        %td= button_to 'Delete', deck_path(deck), :method => :delete, :confirm => 'Are you sure?'

= link_to 'New Deck', new_deck_path
