-#  This file is app/views/decks/index.html.haml


%h1 Decks

%table#decks
  %thead
    %tr
      %th Title
      %th Score
      %th Category
      %th Public
      %th Created At
      %th Updated At
      %th Edit
  %tbody
    - @decks.each do |deck|
      %tr
        %td= deck.title 
        %td= deck.score
        %td= deck.category
        %td= deck.public
        %td= deck.created_at
        %td= deck.updated_at
        %td= link_to 'Edit', edit_deck_path(deck.id)

= link_to 'New Deck', new_deck_path
