-#  This file is app/views/decks/index.html.haml

%h1 Decks

%table#decks
  %thead
    %tr
      %th= link_to 'Title', decks_path(:sort => 'title', :random => @random)
      %th= link_to 'Category', decks_path(:sort => 'category', :random => @random)
      %th Created At
      %th Updated At
      %th favorite
  %tbody
    - @decks.each do |deck|
      %tr
        %td= link_to deck.title, card_display_path(deck.id)
        %td= deck.category
        %td= deck.created_at
        %td= deck.updated_at
        %td= link_to "add to favorites", add_favorite_path(deck)
        
= form_tag decks_path, method: 'get' do
  = text_field_tag :search, params[:search], placeholder: "search"
  = submit_tag "Search", :name => nil

= link_to 'New Deck', new_deck_path


