%h1 Create New Deck

= form_tag decks_path do

  = label :deck, :title, 'Title'
  = text_field :deck, 'title'

  = label :deck, :category, 'Category'
  = text_field :deck, 'category'
  
  = label :deck, :public, 'Make Public?'
  = select :deck, :public, ['Yes', 'No']
  = submit_tag 'Save Changes'