!!!
%html
  %head
    %title FlashCards
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %h1.title FlashCards
    
    #main
     
      
      -if !@current_user
        = button_to 'Sign up/Login', login_path, {method: :get, :id=>'signuplogin'}
      -else
        you are logged in as #{@current_user[:email]}
        = link_to "Edit User Info", edit_user_path(@current_user)
        = button_to 'Logout', logout_path, {method: :delete,:id=> 'logout'}
        
      - if flash[:notice]
        #notice.flash_message= flash[:notice]
      - elsif flash[:warning]
        #warning.flash_message= flash[:warning]

      = yield
